[Unit]
Description=Service will run blank slot script to determine if a blank slot is detected or not
After=network.target

[Service]
Type=simple
User=ccplayer
Group=sudo
WorkingDirectory=/opt/scripts/blank_slots/
ExecStart=/usr/bin/python3 /opt/scripts/blankwatch.py
Restart=on-failure

[Install]
WantedBy=multi-user.target